@using System.Web.UI.WebControls
@model IEnumerable<DiShop.Models.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<h2>Vehicles</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw($"<img src=\"../../Content/img/{item.Name}.jpg\" alt=\"Image\" width=\"320\" height=\"240\"/>")
            </td>
            @*<td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearOfDesigned)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Length)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Width)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Height)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Crew)
    </td>*@
    <td>
        @Html.ActionLink("Create", "Create", new { id=item.Id })
    </td>

            <td>
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <h3>$@Html.DisplayFor(modelItem => item.Cost)</h3>
                <button>@Html.ActionLink("Buy", "Buy", new { id = item.Id })</button>
                
            </td>
            <td>
                <dl>
                    <dt>YearOfDesigned</dt>
                    <dd>@Html.DisplayFor(modelItem => item.YearOfDesigned)</dd>
                    <dt>Weight</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Weight)</dd>
                    <dt>Length</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Length)</dd>
                    <dt>Width</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Width)</dd>
                    <dt>Height</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Height)</dd>
                    <dt>Crew</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Crew)</dd>
                </dl>
            </td>
        </tr>
    }

</table>
